
.listitemmenu-outer-container {
    position: fixed;
    top: 0px;
    left: 150px;
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listitemmenu-inner-container {
    background-color: #494a46;
    border-radius: 10px;
    width: 45%;
    height: 60%;
    padding: 10px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.submit-button {
    background-color: rgb(147, 180, 147);
    position: relative;
    top: 0%;
    font-size: 20px;
    align-items: flex-end;
    justify-content: center;
    border: none;
    height: 2.5rem;
    width: 40%;
    border-radius: 25px;
}

.itemname-container {
    position: relative;
    width: 200%;
    top: 10%;
    left: 20%;
    border: none;
    display: flex;
    
}

.text-container {
    background-color: rgb(170, 193, 179) ;
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 10%;
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    margin-right: 20px;
}

.form-itemtitle {
    color: white;
    position: relative;
    width: 200%;
    top: 10%;
    border: none;
    display: flex;
}
    
.form-itemtitle input {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    width: 70%;
    font-size: 15px;
}

.quantity-container {
    position: relative;
    width: 200%;
    top: 20%;
    left: 20%;
    border: none;
    display: flex;
}

.form-quantity {
    color: white;
    position: relative;
    width: 200%;
    top: 20%;
    border: none;
    display: flex;
}

.form-quantity input {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: center;
    width: 70%;
    font-size: 15px;
}

.unit-container {
    position: relative;
    width: 200%;
    top: 20%;
    left: 20%;
    border: none;
    display: flex;
}
.css-14ajw3y{
    margin-top: 40%;
}