.plusbutton {
    cursor: pointer;
    font-size: 36px;
    position: relative;
    top: 6%;
    z-index: 100;
    margin-left: 1600px;
}

.plusbuttoncontainer {
    /* position: absolute;
    top: 0%;
    left: 90%; */
    height: 30rem;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

