
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.recipemenu-outer-container {
    position:fixed;
    top: 0px;
    left: 50%;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 239, 216);
    
    
    
}

.recipemenu-inner-container {
    width: 90%;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    padding: 25px 40px;
    height: 90vh;
    font-size: 30px;
    overflow-y: scroll;
    margin-top: 5%;
    font-family: "Exo";
}

.recipe-info{
   position: relative;
   display:inline;
   background-color: #162b16;
   margin-right: 700px;
   margin-left: 0px;
   border-radius: 10px;
   height: 80vh;
   width: 30vw;
   box-shadow: 0 0 20px rgb(39, 37, 37);
   
    
}

.recipename-container {
    position: relative;
    width: 60%;
    margin-left: 20px;
    border: none;
    margin-top: 10px;
}

.recipename-container input {
    font-family: "Exo";
    position: relative;
    margin-left: 0px;
    border: none;
   
}

.text-container {
    display: block;
    font-size: 12px;
    color: #2c7b2c;
    margin-top: 20px;
    font-family: "Roboto" ;
    
}

.form-recipetitle {
    color: black;
    position: relative;
    width: 100%;
    top: 10%;
    border: none;
    display: flex;
    margin-left: 40px;

}
    


.time-container {
    position: relative;
    width: 80%;
    margin-top: 5%;
    margin-left: 20px;
    border: none;
}

.form-time {
    color: white;
    position: relative;
    width: 200%;
    margin-top: 0%;
    border: none; 
    font-size: 10px;
    text-align: left;
    margin-left: 0px;
}

.form-time input  {
    font-family: "Exo";
}

.difficulty {
    position: relative;
    width: 60%;
    top: 0%;
    border: none;
    margin-left: 20px;
    font-family: "Roboto";
    
    
}


.rating {
    color: white;
    position: relative;
    width: 80%;
    margin-top: 0%;
    border: none;
    margin-left: 0px;
}

.tags {
    position: relative;
    width: 80%;
    top: 0%;
    border: none;
    margin-left: 20px;
}

.check-box {
    position: relative;
    margin-left: 40px;
    display: flex;
    top: 7%;
    color: rgb(70, 75, 70);
   
    

}
.spice {
    position:relative;
    top: 0%;
    width: 80%;
    border: none;
    margin-left: 20px;
}
.spice-rating {
    position: relative;
    margin-top: 0%;
    color: white;
    width: 200%;
    border: none; 
    margin-left: 0px;

    
}

.ingredients-container {
   
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    
   
}

.steps-container {
    position: relative;
    margin-bottom: 5px;
    
}

.formFieldInput {
    
    width: 90%;
    background-color: transparent;
    border: none;
    color: 'black';
    outline: none;
    border-bottom: 1px solid #31bb41;
    font-size: 0.5em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .submitbutton-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
    width: 125%;
  }
  .submit-button {
    background-color: rgb(124, 192, 124);
    position: relative;
    font-size: 15px;
    border: none;
    height: 2rem;
    width: 15%;
    border-radius: 10px;
    display: fixed;
    font-family: "Exo";
}