.grocerylist {
  background-color: #272c28;
}

.storagebox-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.storagebox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storagebox-title {
  font-family: "Exo";
  background-color: transparent;
  padding: 1rem 7rem;
  font-size: 30px;
  margin-top: 2%;
}

.grocerylist-content {
  
  height: 30rem;
  background-color: #d9d9d9;
  border-radius: 15px;
  width: 80rem;
  margin: 2.5rem;
  max-width: 80vw;
  scroll-behavior: auto;
}
.storagebox-content1 {
  border:1px ;
    height: 35rem;
    background-color: #272c28;
    border-radius: 5px;
    width: 200rem;
    margin: 1.5rem;
    max-width: 33vw;
}