.storagebox-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.storagebox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storagebox-title {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background-color: #d9d9d9;
  padding: 1rem 7rem;
  border-radius: 35px;
  border: 1px solid greenyellow;
  font-size: 22px;
}

.grocerylist-content {
  border: greenyellow 1px solid;
  height: 30rem;
  background-color: #d9d9d9;
  border-radius: 15px;
  width: 50rem;
  margin: 2.5rem;
  max-width: 33vw;
  scroll-behavior: auto;
}
.storagebox-content1 {
  border:1px ;
    height: 35rem;
    background-color: #272c28;
    border-radius: 5px;
    width: 200rem;
    margin: 1.5rem;
    max-width: 33vw;
}

.createcheckoutbutton {
  font-size: 20px;
  display: center;
  align-items: center;
  justify-content: center;
}
.createcheckoutbuttoncontainer {
  background-color: rgb(147, 180, 147);
  height: 3rem;
  width: 50%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  top: 1%;
  left: 0%;

}