@import url("https://fonts.googleapis.com/css?family=Exo");

.home {
  font-size: 1rem;
  height: 160vh;
  width: 1280px;
  display: flex;
  flex-direction: column;
 
  /*background-image: url(./chefbackground.png);*/
 
}
.welcome {
  background-image: url(./Welcome.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130%;
  height: 60vh;
  margin-top: 1%;
  margin-left: 35%;
 
}

.text {
  background-image: url(./text2.png);
  display: flex;
  width: 95%;
  height: 10vh;
  margin-top: -7%;
  margin-left: 10%;
  border: 2px solid;
  border-color: black;
}

.storagebox-container1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: 10%;
  border: 2px solid;
  border-color: black;
  background-color: rgb(22, 19, 19);
  
  
}
.storagebox {
  display: flex;
  flex-direction: column;
  align-items:center;
  
  
  
}
.storagebox-title3 {
  font-family: "Exo";
  border-radius: 35px;
  font-size: 25px;
  color: rgb(67, 145, 67);
  margin-top: 4%;
}
.storagebox-content1 {
  border:1px ;
    height: 35rem;
    background-color: #89928b;
    border-radius: 5px;
    width: 200rem;
    margin: 1.5rem;
    max-width: 33vw;
}

.plusButton {
  z-index: 1;
}