.storagebox-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  
}
.storagebox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid;
  border-color: antiquewhite;
  height: 35rem;
  width: 35rem;
  margin-top: 5%;
  margin-left: 10%;
}

.storagebox-title {
  font-family: "Exo";
  background-color: transparent;
  padding: 1rem 7rem;
  border-radius: 10px;
  font-size: 30px;
  margin-top: 5%;
  border: 1px;
  color: whitesmoke;
  flex-direction: row;
  
 
}

.storagebox-title2 {
  font-family: "Exo";
  background-color: transparent;
  padding: 1rem 7rem;
  border-radius: 10px;
  font-size: 30px;
  margin-top: 0%;
  border: 1px;
  color: black;
  flex-direction: row;
 
}
.storagebox-content {
  border:1px ;
  height: 35rem;
  background-color: #d3e3d6;
  border-radius: 5px;
  width: 200rem;
  margin: 1.5rem;
  max-width: 33vw;
}

.appAside1 {
  width: 50%;
  background-color: #12130f;
  height: 100vh;
  margin-top: -2%;
}

.recipe-button {
  flex-direction: row;
  margin-top: -50px;
  margin-left: 70%;
  font-family: "Oswald";
}
.appAside2 {
  width: 50%;
  background-color: 'whitesmoke';
  height: 100vh;
  margin-left: 50%;
  margin-top: -100vh;
 
}
.myrecipe {
  display: inline;
 
  
}