
.createbutton {
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: "Exo";
    margin-bottom: 2%;
}
.createbuttoncontainer {
    border: 1px solid;
    border-color: rgb(147, 180, 147) ;
    height: 2rem;
    width: 60%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 85%;
   
}