@import url("https://fonts.googleapis.com/css?family=Exo");

.plusmenu-outer-container {
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.plusmenu-inner-container {
    background-color: #171a17;
    border: 2px solid;
    border-color: rgb(144, 175, 144);
    margin-top: 24%;
    border-radius: 5px;
    width: 35%;
    height: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
   

}
.additem-title{
    font-family: "Exo";
    color: rgb(79, 193, 91);
    margin-top: 2%;
    font-size: 22px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    padding: 10px;
    margin-top: 0%;
    background-color: transparent;
    
    
}
.form-title {
    
    width: 100%;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.form-title input {
    font-family: 'Exo';
    text-align: center;
    width: 100%;
    color: white;
}
.form-quan-date input{
    font-family: 'Exo';
    text-align: center;
    width: 100%;
    backdrop-filter: blur(0px);
    color: white;


}
.form-quan-date {

    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    
}
.add-buttoncontainer {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;



}
.add-button {
    margin-top: 5%;
    background-color: rgb(124, 192, 124);
    position: relative;
    font-size: 15px;
    border: none;
    height: 2rem;
    width: 20%;
    border-radius: 10px;
    display: fixed;
    font-family: "Exo";
    
}